<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="./register.css">
</head>
 
<body>
    <div><label id="link">Back to Login</label></div>
    <h1>Register</h1>
    <form method="GET" id="validate">
        <input name="fullName" id="fullName" type="text" placeholder="Fullname" required>
            
        <input name="userName" id="userName" type="text" placeholder="Username" required>

        <input name="password" id="password" type="password" placeholder="Password" required>
 
        <input name="confirm" id="confirm" type="password" placeholder="Confirm password" required>

        <input name="email" id="email" type="email" placeholder="Email" required>

        <input type="button" id="register" value="Register" >
    </form>
    <script  src="./register.js"></script>
</body>

</html>