<!DOCTYPE html>
<html>

<head>
    <title>Quiz App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../common/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="quiz-style.css">

</head>

<body>
    <div class="container-fluid">
        <div class="quiz-header">
            <h1>Quiz on Important Facts</h1>
            <div id="timer">0:00</div>
        </div>
        <div id="quiz">

        </div>
        <div class="quiz-button">
            <button id="submit">Submit</button>
        </div>
    </div>

    <!-- <script language="javascript" type="text/javascript" src="timer.js"></script> -->
    <script language="javascript" type="text/javascript" src="index.js"></script>
    <script language="javascript" type="text/javascript" src="../../common/js/bootstrap.js"></script>
    <script language="javascript" type="text/javascript" src="../../common/js/jquery-3.4.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="../../common/js/jquery-3.4.1.slim.min.js"></script>
</body>

</html>